@import url(./reset.css);

.flex{
    display: flex;
}
.center{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.column-gap{
    column-gap: 2rem;
}
.flex-grow1{
    flex-grow: 1;
}
header section div a{
    color: white;
}
.background-black{
    background-color: black;
}
.color-text-white{
    color: white;
}
.color-primary{
    color: aqua;
}
