@import url(./reset.css);

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale();
}

/*text-shadow permet d'ajouter une ombre portée autour du texte*/
.logo span {
    text-shadow: 0 0 1.153rem var(--main-color);
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 0.188rem solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    /*border-bottom : applique une bordure en bas de l’élément, avec une épaisseur de 0,188 rem*/
    border-bottom: 0.188rem solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    /*display: none; est utilisée pour masquer complètement un élément de la page.*/
    display: none;

}

section {
    min-height: 62.5rem;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.home-content h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 1.563rem var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 1.563rem var(--main-color),
        0 0 3.125rem var(--main-color),
        0 0 6.25rem var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 62.5rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.125rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--main-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 1.563rem var(--main-color);
    background-color: white;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1.563rem var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 0.125 solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3.125rem var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 0.125rem solid var(--main-color);
    box-shadow: 0 0 1.563rem transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 1.563rem var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 2.125rem;
    font-weight: 600;
    min-width: 12.5rem;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--main-color);
    width: calc(100% + 0.5rem);
    height: 100%;
    border-left: 0.188rem solid var(--bg-color);
    right: -0.5rem;
    animation: cursor 0.6s infinite, typing 20s steps(14 infinite);
}

@keyframes cursor {
    to {
        border-left: 0.125rem solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "étudiante en BTS SIO";
    }

    21%,
    40% {
        content: "Développeuse en apprentissage";
    }

    41%,
    60% {
        content: "étudiante en BTS SIO";
    }

    61%,
    80% {
        content: "Développeuse en apprentissage";
    }

    81%,
    100% {

        content: "étudiante en BTS SIO";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    65%,
    80%,
    85% {
        width: calc(100% + 0.5rem);
    }
}

/*
.flex{
    display: flex;
}
.center{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.column-gap{
    column-gap: 2rem;
}
.flex-grow1{
    flex-grow: 1;
}
header section div a{
    color: white;
}
.background-black{
    background-color: black;
}
.color-text-white{
    color: white;
}
.color-primary{
    color: aqua;
}
div a{
    margin-left: 4rem;
}*/